{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <img src="../static/img/logo.png" alt="Логотип">
                </div>
                <nav class="main-menu">
                    <ul>
                        <li><a href="http://127.0.0.1:8000">Главная</a></li>
                        <li><a href="http://127.0.0.1:8000/stuff/">Каталог</a></li>
                        <li><a href="http://127.0.0.1:8000/basket/">Корзина</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="order">
            <div class="basket">
                <h2 class="basket-title">Корзина</h2>
                <p>,kf,kf,kf</p>
                <table class="order-table">
                    <tr>
                        <td></td>
                        <td class="product-title"><b>Товар</b></td>
                        <td class="product-price"><b>Цена</b></td>
                    </tr>   
                    {% if basket %}
                        {% for stuff in basket %}
                            <tr>
                                <td class="stuff-image"><img src="{{stuff.promo}}" alt="promo"></td>
                                <td class="stuff-title">{{stuff.title}}</td>
                                <td class="stuff-price">{{stuff.price}}</td>
                            </tr>    
                        {% endfor %}
                    {% endif %}  
                </table>
            </div>
        </section>
    </div>
    <a class="main-screen-btn" href="{% url 'main' %}">На главную</a>
</body>
</html>