{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <img src="../static/img/logo.png" alt="Логотип">
                </div>
                <nav class="main-menu">
                    <ul>
                        <li> <a href="http://127.0.0.1:8000/">Главная</a></li>
                        <li><a href="http://127.0.0.1:8000/stuff/">Каталог</a></li>
                        <li><a href="http://127.0.0.1:8000/basket/">Корзина</a></li>
                    </ul>
                </nav>
            </div>
            <div class="promo">
                <div class="promo-title">Универсальный ноутбук 
                    Stealth GS77</div>
                <p> Высокая производительность и портативность
                    Универсальный ноутбук Stealth GS77 гармонично
                    сочетает в себе и геймерские, и бизнес-функции.</p>
                <a href="http://127.0.0.1:8000/basket/" class="btn">Добавить в корзину</a>
                <a href="http://127.0.0.1:8000/stuff/" class="btn">Каталог</a>
           </div>
        </div>
    </header>
    <section class="about">
        <div class="container">
            <div class="about-text">
                <h2 class="about-title">О нас</h2>
                <p>MSI – ведущий игровой бренд в мире. Это имя, которому больше всего 
                    доверяют в сфере гейминга и киберспорта. Мы посвящаем огромное 
                    количество времени и ресурсов киберспортивному сообществу, 
                    поддерживая самых умелых и амбициозных геймеров планеты, 
                    и используем их опыт для оптимизации собственной продукции. </p>
                <p>Нас отличает неустанное стремление к совершенству и техническим 
                    инновациям, поэтому мы предлагаем компьютерные системы 
                    с экстремальной производительностью, передовыми функциями 
                    и интуитивно легким управлением. Бренд MSI прочно ассоциируется 
                    с продуктами, созданными специально для увлеченных любителей 
                    компьютерных игр.</p>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="container"> 
            <h2>ASP SERSO</h2>
            <div class="logo-footer">
                <li>Город: Москва
                    Адрес: Колодезный пер., д. 3, стр.25 , 
                    Вход в Серсо расположен на Русаковской 
                    набережной у метромоста. 
                    Тел. (Ремонт) : (495) 967-3872, (495) 926-8313
                    Часы работы: ПН-ВС 9:00 - 21:00
                
                    © 2023. Все права защищены</li>
                <li><a class="navigation-item" href="{% url 'main' %}">Главная</a></li>
                <li><a class="navigation-item" href="{% url 'stuff' %}">Товары</a></li>
            </div> 
        </div>
    </footer>
</body>
</html>