{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <img src="../static/img/logo.png" alt="Логотип">
                </div>
                <nav class="main-menu">
                    <ul>
                        <li><a href="http://127.0.0.1:8000">Главная</a></li>
                        <li><a href="http://127.0.0.1:8000/stuff/">Каталог</a></li>
                        <li><a href="http://127.0.0.1:8000/basket/">Корзина</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <h1>Ноутбуки</h1>
        <section class="view-stuff">
            {% for stuff in all_stuff %}
            <div class="view-stuff-item">
                <img class="view-stuff-item-img" src="{{stuff.promo}}" alt="promo">
                <div class="view-stuff-item-text">
                    <h2>{{stuff.title}}</h2>
                    <p>{{stuff.price}}</p>
                </div>
            </div>
            {% endfor %}
        <a class="main-screen-btn adding-screen-btn-to-home" href="{% url 'main' %}">На главную</a>
    </section>
</body>
</html>